{{#partial "title"}}Heroes{{/partial}}
{{#partial "content"}}

    <h2>Name: {{ranger.name}}</h2>

    <h2>Badge Number: {{ranger.badge}}</h2>

    <h2>Contacts: {{ranger.contact}}</h2>


    {{#if endangeredSightings}}

        <h3>Endangered Sightings</h3>
        <table class="table table-dark">
            <thead>
            <tr>
                <th scope="col">Type</th>

                <th scope="col">Name</th>

                <th scope="col">Age</th>

                <th scope="col">Health</th>

                <th scope="col">Location</th>

                <th scope="col">Ranger</th>

                <th scope="col">Date</th>


            </tr>
            </thead>
            <tbody>
            {{#each endangeredSightings}}
                <tr>
                    <td>{{type}}</td>

                    <td>{{animalName}}</td>

                    <td>{{animalAge}}</td>

                    <td>{{animalHealth}}</td>

                    <td>{{locationId}}</td>

                    <td>{{rangerId}}</td>

                    <td>{{dateSighted}}</td>


                </tr>
            {{/each}}
            </tbody>
        </table>
    {{/if}}

    {{#if normalSightings}}

        <h3>Non-Endangered Sightings</h3>
        <table class="table table-dark">
            <thead>
            <tr>
                <th scope="col">Type</th>

                <th scope="col">Name</th>

                <th scope="col">Location</th>

                <th scope="col">Ranger</th>

                <th scope="col">Date</th>


            </tr>
            </thead>
            <tbody>
            {{#each normalSightings}}

                <tr>
                    <td>{{type}}</td>

                    <td>{{animalName}}</td>

                    <td>{{locationId}}</td>

                    <td>{{rangerId}}</td>

                    <td>{{dateSighted}}</td>


                </tr>
            {{/each}}
            </tbody>
        </table>
    {{/if}}








{{/partial}}
{{> base.hbs}}